<div class="container">
    <div th:replace="Banner/banner_admin"/>

    <table th:fragment="index_admin" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">가입번호</th>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">생성 일자</th>
            <th scope="col">관리자 여부</th>
        </tr>
        </thead>
        <tbody>
            <!-- 4개의 값 넣어보기-->
            <tr th:each="map : ${adminlist}">
                <td><span th:text="${map.ENTR_NO}"></span></td>
                <td><span th:text="${map.ID}"></span></td>
                <td><span th:text="${map.NAME}"></span></td>
                <td><span th:text="${map.DATE}"></span></td>
                <td><span th:text="${map.ADMIN_CHECK}"></span></td>
            </tr>
        </tbody>
    </table>
</div>