<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="layoutPattern">[%d] %-5level [%thread] %C{100} %M - %msg%n</Property>
    </Properties>

    <!-- 콘솔, 파일에 찍을 때 형식 및 설정 셋팅-->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy:MM:dd HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- =================================================================== -->
        <!-- TESTPROJECT specific Logger setting								 -->
        <!-- =================================================================== -->
        <logger name="com.test.project" level="debug" additivity="false">
            <AppenderRef ref="console" /> <!-- 콘솔에 로그 찍겠단 뜻 -->
	    </logger>


		<!-- =================================================================== -->
        <!-- SPRING																 -->
        <!-- =================================================================== -->
        <logger name="org.springframework" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>
        <!-- =================================================================== -->
        <!-- JDBC																 -->
        <!-- =================================================================== -->
        <logger name="jdbc.sqltiming" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="jdbc.sqlonly" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="jdbc.connection" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="jdbc.resultset" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="jdbc.audit" level="debug" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="jdbc.resultsettable" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="me.synology.freash97" level="debug" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <!-- =================================================================== -->
        <!-- Root(Default) Setting												 -->
        <!-- =================================================================== -->
        <!-- off, fatal, error, warn, info, debug, trace, all -->
        <Root level="error" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>