<div th:replace="Banner/banner_main"/>
<table th:fragment="notice" class="table table-striped">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">작성자</th>
        <th scope="col">제목</th>
        <th scope="col">시간</th>
        <th scope="col">말머리</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="map : ${noticelist}">
            <td><span th:text="${map.NOTICE_NO}"></span></td>
            <td><span th:text="${map.ID}"></span></td>
            <td><span th:text="${map.TITLE}"></span></td>
            <td><span th:text="${map.DATE}"></span></td>
            <td><span th:text="${map.SUBTITLE}"></span></td>
        </tr>
    </tbody>
</table>