<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/" layout:decorator="layout/login">
<head>
    <meta charset="UTF-8">
    <title th:text="${@environment.getProperty('project.level')}"></title>
    <!--jQuery-->
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <!--JS-->
    <script th:src="@{/js/Common.js}"></script>
    <script th:src="@{/js/Register.js}"></script>
    <!--bootstrasp-->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">

    <!--icon-->
    <script src="https://kit.fontawesome.com/f555a58a6c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle">
        <p class="fs-1"><span th:text="${@environment.getProperty('project.level')}"></span></p>
        <!-- 아이디 -->
        <div class="input-group mb-3">
            <span class="input-group-text">
                <span class="fas fa-user"></span>
            </span>
            <div class="form-floating">
                <input type="text" class="form-control" id="id" name="id" placeholder="아이디">
                <label for="floatingInputGroup1">아이디</label>
            </div>
        </div>
        <!-- 패스워드 -->
        <div class="input-group mb-3">
            <span class="input-group-text">
                <span class="fas fa-lock"></span>
            </span>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="패스워드">
                <label for="floatingInputGroup1">패스워드</label>
            </div>
        </div>
        <!-- 하단 버튼 -->
        <div class="text-center m-2">
            <button class="btn btn-light font-weight-bold m-2" onClick="goRegister()">회원가입</button>
        </div>
        <button type="submit" class="col-12 btn btn-primary" onClick="signIn()">
            <span class="fas fa-unlock"></span>
            로그인
        </button>
    </div>
</body>
</html>