<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>IPTABLE</title>
        <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
    <!--nav 출력-->
        <nav th:replace="layout/nav :: nav(${account})"/>
        <div class="container">
            <!--Banner 출력-->
            <div th:if="${notice_info.equals('notice')}">
                <div th:replace="Notice/notice"/>
            </div>
            <div th:if="${notice_info.equals('admin')}">
                <div th:replace="Auth/index_admin"/>
            </div>

        </div>
    </body>
</html>