<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.synology.freash97.sign.mapper.SignMapper">

    <resultMap id="signResultMap" type="me.synology.freash97.sign.domain.SignDTO">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="admin" column="admin"/>
        <result property="createUser" column="create_user"/>
        <result property="createDate" column="create_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultType="me.synology.freash97.sign.domain.SignDTO">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <insert id="save" parameterType="me.synology.freash97.sign.domain.SignDTO">
        INSERT INTO users (username, password, email, admin, create_user, create_date)
        VALUES (#{username}, #{password}, #{email}, 'N', #{username}, NOW())
    </insert>

</mapper>
